[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pylint = "*"
autopep8 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
